:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #1f1f23;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -moz-appearance: initial;
}

input[type=checkbox] {
  visibility: hidden;
}

$chat-color: #18181b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.chat {
  position: relative;

  font-size: .9rem;
  height: 800px;
  width: 350px;
  background-color: $chat-color;
  display: flex;
  flex-direction: column;
  justify-content: end;

  overflow: hidden;


  .chat-container {
    line-height: 1.5;
    //margin-bottom: .5rem;

    scrollbar-color: red;

    overflow-y: auto;

    width: 100%;
    //padding: 1rem;

    display: flex;
    flex-direction: column;
    //gap: .4rem;


    .twitch-chat-notice {

      background: rgba(255, 255, 255, .1);

      padding: 1rem 1rem;

      border-left: 3px solid #6441a5;

      .bold {
        font-weight: 700;
      }

      .underlined {
        text-decoration: underline;
      }

    }


    .twitch-message {
      padding: .2rem 1rem;
      //background: rgba(100, 65, 165, .1);
      //border-radius: 1rem;
      //padding: .4rem;
      .author::after {
        content: ":";
        color: white;
      }
    }


    .tiktok-message {
      overflow: visible;
      padding: .2rem 1rem .2rem 1rem;
      position: relative;

      border-left: 2px solid #f20070;

      //background: rgba(102, 195, 201, .1);
      //border-radius: 1rem;
      //padding: .4rem;

      .author {
        color: #f20070;
      }


      img {
        border-radius: 100vh;
        position: relative;
        margin: .1rem;
        margin-inline: 0 .3rem;
        top: .4rem;
        height: 1.3rem;

      }
    }

    //flex: 1;
  }

  .settings-container {
    padding: .4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .6rem;

    .comment-input-wrapper {
      grid-column: span 4;

      box-sizing: border-box;

      display: flex;
      align-items: center;
      gap: .2rem;

      padding: .2rem .4rem .2rem .4rem;
      background: #3d3d40;
      border-radius: .2rem;
      border: 2px solid transparent;
      //width: max-content;
      transition: background .1s, border .1s;
      //border: 2px #3d3d40;


      &:hover {
        border: 2px solid #303033;
      }

      &:focus-within {
        border: 2px solid #6441a5;
        background: black;
      }

      .comment-input {
        line-height: 1.5;
        box-sizing: content-box;
        padding: .2rem 0;
        //max-height: calc(1.08rem * 5);
        //overflow-y: scroll;

        font-family: Inter, serif;
        font-size: .9rem;
        //padding-right: 4rem;
        background: none;
        //background: rgba(255, 255, 255, .2);
        resize: none;
        border: none;
        //width: 80%;
        flex: 1;
        margin: 0;
        height: 1.08rem;

        &:focus {
          outline: none;
        }
      }
    }

    .comment-submit {
      margin-left: auto;
      grid-column: 4;
      grid-row: 2;
      height: 100%;
      width: 100%;
      background: #9147ff;
      border-radius: .2rem;
      border: none;

      font-weight: 600;
      font-size: .9rem;
      font-family: Inter, serif;

      cursor: pointer;

      transition: background .1s;

      &:hover {
        background: #772ce8;
      }

      &:active {
        background: #5c16c5;
      }
    }


    //#theme-mode {
    //
    //  grid-column: 2;
    //  grid-row: 2;
    //  aspect-ratio: 2 / 1;
    //
    //  width: 100%;
    //  height: 100%;
    //  background: red;
    //  //background: rgba(255, 255, 255, .1);;
    //  -webkit-user-select: none;
    //  -moz-user-select: none;
    //  -ms-user-select: none;
    //  user-select: none;
    //  cursor: pointer;
    //  display: block;
    //  //position: absolute;
    //}
    #timestamp-mode-label {
      aspect-ratio: 2 / 1;
      box-sizing: content-box;
      cursor: pointer;
      background: rgba(255, 255, 255, .1);
      border-radius: 100vh;
      position: relative;

      &::before {
        transition: left .2s, background .2s;
        border-radius: inherit;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        aspect-ratio: 1;
        background: rgba(255, 255, 255, .3);
      }
    }

    .popup-chat {
      aspect-ratio: 1;
      grid-column: 1;
      grid-row: 2;
      height: 2.6rem;
      filter: invert(1);
      padding: .2rem;
      border-radius: .4rem;
      cursor: pointer;
      transition: fill-opacity .2s;

      &:hover {
        //background: rgba(0,0,0,.2);
        fill-opacity: .5;
      }
    }
  }


  .chat__title {
    text-align: center;
    color: #9f9f9f;
    font-size: 90%;
  }

  .timestamp {
    color: #797979;
  }

  .author {

    font-weight: 700;

  }


  .notice-container {
    position: absolute;
    top: 0;
    margin-inline: auto;
    width: calc(100% - 1.6rem);
    text-align: center;
    margin-top: .8rem;
    z-index: 999;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    place-items: center;
    background-color: #fda500;
    border-radius: .4rem;
    padding-inline: .4rem;

    .fa-exclamation {
      border-radius: 50%;
      padding: 1rem;
    }

    .notice {
      width: 100%;
      padding: .5rem 0;
    }

    *:nth-child(3) {
      cursor: pointer;
    }


  }

}


#timestamp-mode {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;

  &:checked ~ #timestamp-mode-label::before {
    background: rgba(255, 255, 255, .6);
    left: 50%;
  }
}

//Chat colors

//.lime {
//  color: #00ff7f;
//}
//
//.purple {
//  color: #8a2be2;
//}
//
//.red {
//  color: #ff0001;
//}
//
//.blue {
//  color: #0000ff;
//}

//.blueviolet { color: #8A2BE2; }
//.chocolate { color: #D2691E; }
//.coral { color: #FF7F50; }
//.dodgerblue { color: #1E90FF; }
//.firebrick { color: #B22222; }
//.goldenrod { color: #DAA520; }
//.seagreen { color: #2E8B57; }
//.steelblue { color: #4682B4; }
//.yellowgreen { color: #9ACD32; }
//.aqua { color: #00FFFF; }
//.black { color: #000000; }
//.blue { color: #0000FF; }
//.brown { color: #A52A2A; }
//.green { color: #00FF00; }
//.grey { color: #808080; }
//.orange { color: #FFA500; }
//.pink { color: #FFC0CB; }
//.purple { color: #800080; }
//.red { color: #FF0000; }
//.white { color: #FFFFFF; }
//.yellow { color: #FFFF00; }
//.gold { color: #FFD700; }
//.darkgreen { color: #006400; }